/* Style fields etc. for FixMyStreet */

#edit-initial-wrapper {
  display: inline;
}

#fixmystreet-start-form .form-submit {
  margin-top: 0.5em;
}

#fixmystreet-start-form label {
  font-size: 120%;
}

.view-latest-report-photos .item-list ul li {
  background: none;
  float: left;
}

/* suppress fieldset around gmap */
#fixmystreet-view-location-form fieldset,
.form-region-right fieldset {
  border: none;
  padding: 0;
  color: white; /* hack to suppress spurious Array text appearing below locpick map */
}
/* hide text lat lon inputs */
#fixmystreet-view-location-form .container-inline,
#fixmystreet-view-location-form .description,
.form-region-right .container-inline,
.form-region-right .description {
  display: none;
}

.page-node-add-issue #edit-title,
.page-node-add-issue #edit-body-wrapper,
.page-node-add-issue #edit-field-name-0-value,
.page-node-add-issue #edit-field-email-0-email,
.page-node-add-issue #edit-field-phone-0-value {
  width: 363px;
}
.page-node-add-issue .resizable-textarea {
  width: 100%;
}
.page-node-add-issue #edit-field-category-value-wrapper {
  margin-top: 0;
}
.page-node-add-issue .teaser-checkbox {
  display: none;
}
.page-node-add-issue .tips {
  display: none;
}

#fixmystreet-view-location-form .form-region-main,
.node-form-has-region-right .form-region-main {
  float: left;
  width: 45%;
}

#fixmystreet-view-location-form .form-region-right,
/* edit report */
.node-form .form-region-right,
/* view report */
.node-type-issue .field-field-location {
  width: 400px;
  float: right;
}

/*
.node-type-issue {
  width: 800px;
}
*/
